.dDate{
color: black;
padding:2px;
margin:2px;
display:table;
margin-left:auto;
font-weight: bold;
}

.dSend{
color: black;
border:1px solid #BA1645;
padding:5px;
margin:5px;
display:table;


}
.dSubj{
color: black;
border:2px solid #BA1645;
padding:2px;
margin:2px;
display:table;
margin:auto;

}
#pCount{
color:red;
border: 2px solid blue;
background-color:pink;

}