.dDate{
color: black;
padding:2px;
margin:2px;
display:table;
margin-left:auto;
font-weight: bold;
text-decoration: underline;

}
.dDate2{
color: black;
padding:2px;
margin:2px;
display:table;
margin-left:auto;
font-weight: bold;
text-decoration: underline;
}

.dSend{
color: black;
border:2px solid black;
padding:5px;
margin:5px;
display:table;
font-size:18px;


}
.dSend2{
color: black;
border:2px solid black;
padding:5px;
margin:5px;
display:table;
font-size:18px;


}

.dSubj{
color: black;
border:2px solid black;
padding:2px;
margin:2px;
display:table;
margin:auto;
font-weight: bold;

}

.dSubj2{
color: black;
border:2px solid black;
padding:2px;
margin:2px;
display:table;
margin:auto;
font-weight: bold;

}


p{
	z-index:1;
	position:absolute; 
	top:40px;"
	
	font-weight: bold;
	font-size: 15px;
	border:3px solid black;
	padding:3px;
	background-color:#800080;
	color:white;
	
}
h1{

border:3px solid #800080;
background-color:black;
text-align: center;
color:white;

}

body{

	background:#ebe0eb;
}